@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
}



body {
    font-family: "Montserrat", "Lato", Arial, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
    background-color: $mainBgColor;

    @include res(480) {
        font-size: 13px;
    }
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    min-width: 320px;
}

.container {
    width: 100%;
    max-width: 1324px;
    margin: 0 auto;
    padding: 0 15px;
}



a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

.row {
    display: flex;
}

.col-2 {
    width: 50%;
}

.col-4 {
    width: 25%;
}

.btn.d-none,
.menu-header.d-none {
    display: none;
}

.opacity {
    opacity: 0;
}

.title-1 {
    line-height: 0.93;
    font-size: $fontTitle-1;
    font-weight: 700;
    margin: 0 0 65px 0;
}

.title-2 {
    @include titleFont;
}

.title-3 {
    @include titleFont($fontTitle-3);
}

.logo {
    @include titleFont(18px);
}

.btn {
    font-weight: 600;
    border: 2px solid;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-color: $secondary-color;
    color: $secondary-color;
    transition: all 0.2s linear;
    min-width: 162px;
    height: 46px;
    padding: 5px;
    line-height: 1.7;

    &:hover {
        border-color: #000;
        color: #000;
    }

    & span {
        vertical-align: middle;
    }

    &--menu {
        margin-left: 23px;
        min-width: 116px;
        height: 36px;
        color: #000;
        border-color: #000;
        line-height: 1.1;



        &:hover {
            color: $secondary-color;
            border-color: $secondary-color;
        }
    }

    &--slider {
        position: relative;

        &::after {
            content: "";
            display: none;
            width: 13px;
            height: 13px;
            border-top: 3px solid $secondary-color;
            border-right: 3px solid $secondary-color;
            border-radius: 3px;
            transform: rotate(45deg);
            position: absolute;
            top: 30%;
            left: 20%;
            z-index: 4;
            color: $secondary-color;
        }
    }
}

.header {
    position: relative;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 19px 0 17px;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

}

.menu {
    display: flex;
    align-items: center;

    &__item {
        margin: 2px 12px;
        position: relative;
        transition: all 0.2s linear;

        &:last-child {
            margin-right: 0;
        }

        &::after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            background-color: #000;
            position: absolute;
            top: 23px;
            left: 0;
            z-index: 10;
            opacity: 0;
            transition: opacity 0.2s linear;
        }

        &:hover {
            &::after {
                opacity: 1;
            }

            &:last-child:hover::after {
                opacity: 0;
            }
        }
    }

    &__link {
        font-size: 14px;
        line-height: 1.2;
        font-family: "Roboto", sans-serif;
    }

}



// Mobile-menu

.mobile-menu {
    position: absolute;
    right: 2%;
    top: 25%;
    z-index: 10;
    margin: auto;
    width: $bar-width;
    height: $bar-height + $bar-spacing * 2;
    cursor: pointer;
    display: none;
}

.menu-icon,
.menu-icon:after,
.menu-icon:before {
    width: $bar-width;
    height: $bar-height;
    border-radius: 3px;
}

.menu-icon {
    position: relative;
    transform: translateY($bar-spacing);
    background: #000;
    transition: all 0ms 300ms;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: $bar-spacing;
        background: #000;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
            transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: $bar-spacing;
        background: #000;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
            transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &.animate {
        background: rgba(255, 255, 255, 0);

        &::after {
            top: 0;
            transform: rotate(45deg);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        &::before {
            bottom: 0;
            transform: rotate(-45deg);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}

//Intro

.intro {
    padding: 0;



    &__row {
        justify-content: space-between;
        align-items: center;
    }

    &__column {
        &--content {
            padding: 20px 20px 20px 0;
            max-width: 430px;
            flex-shrink: 2;

        }
    }

    &__column {
        &--img {
            flex-shrink: 1;
            // animation-duration: 1500ms;
        }
    }


    &__location {
        @include font(24px, 500, 1.2);
        margin-bottom: 25px;
    }

    &__text {
        margin-bottom: 40px;

    }
}

.section-header {
    margin-bottom: 48px;
    // animation-duration: 1500ms;

    &__title {
        margin-bottom: 24px;
    }

    &__subtitle {
        max-width: 725px;
    }
}

//Services

.services {
    padding: 100px 0 50px;

    &__row {
        justify-content: space-between;
        margin: 0 -5px;
        // flex-wrap: wrap;
    }

    &__item {
        background: #fff;
        margin: 0 5px 20px;
        max-width: 420px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

    &__text {
        padding: 40px 24px;
        min-height: 215px;
        width: 100%;
    }

    &__title {
        margin: 0 0 24px 0;
    }

    &__features {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}



//Offer

.offer {
    padding: 50px 0 0;

    &__row {
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        padding: 0 10px;

    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 97px;

        .icon {
            font-size: 50px;
            color: #ff699f;
        }
    }

    &__text {

        max-width: 207px;
        text-align: center;
    }
}

//Coaches

.coaches {
    .slider-wrapper {
        margin-left: -10px;
        margin-right: -10px;
    }

    .item-wrapper {
        margin: 15px 10px;
    }

    &__item {
        display: flex;
        min-height: 440px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }

    &__img {
        img {
            height: 100%;
            width: auto;
            max-width: none;
        }
    }

    &__text {
        width: 100%;
        background-color: #fff;
        padding: 43px 33px;
    }

    &__num {
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__profession {
        margin-bottom: 30px;
    }

    ul {
        li {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 40px;
            }

            span {
                color: #808080;
            }
        }
    }
}



//Arrows

.slick-prev,
.slick-next {
    position: absolute;
    top: 100%;
    cursor: pointer;
    font-size: 0;
    border: none;
    background: transparent;

    &:hover {
        &::after {
            color: $secondary-color;
        }
    }

    &::after {
        font-family: "icons";
        content: "\E001";
        position: absolute;
        font-size: 70px;
        color: #808080;
        transform: translateX(-50%);
        left: 50%;
        top: 0;
        transition: all .2s linear;
    }
}

.slick-next {
    right: calc(50% - 40px);

}

.slick-prev {
    left: calc(50% - 40px);

    &::after {
        transform: translateX(-50%) rotate(180deg);
    }
}

// Dots

.slick-dots {
    display: flex;
    justify-content: center;

    li {
        button {
            font-size: 0;
            border: none;
            width: 20px;
            height: 20px;
            position: relative;
            background: transparent;

            &::before {
                position: absolute;
                top: 10px;
                left: 5px;
                width: 10px;
                height: 10px;
                content: "";
                border-radius: 50%;
                border: 1px solid #a7a7a7;
                text-align: center;
            }
        }
    }

    li.slick-active {
        button {
            &::before {
                opacity: 0.75;
                background-color: $secondary-color;
                border: 1px solid $secondary-color;
            }
        }
    }

}

//footer

.footer {
    margin-top: 100px;
    background-color: #1f1f1f;
    padding: 35px 0;
    color: #fff;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

//Media-queries



@media screen and (max-width: 1220px) {
    $fontTitle-1: 50px;

    .title-1 {
        font-size: $fontTitle-1;
    }

    .intro__text {
        max-width: 668px;
        margin-bottom: 30px;
    }

    .coaches {
        &__item {
            flex-direction: column;
        }

        &__img {
            img {
                height: auto;
                width: 100%;
            }
        }
    }

    .footer {
        margin-top: 30px;
    }
}

//Media 1024

@media screen and (max-width: 1024px) {
    .title-1 {
        margin-bottom: 35px;
    }

    .services {
        padding: 75px 0 50px;

        &__text {
            padding: 33px 17px;
        }
    }

    .coaches__text {
        padding: 30px 20px;
    }

}

//Media 960

@media screen and (max-width: 960px) {
    $fontTitle-1: 46px;

    .title-1 {
        font-size: $fontTitle-1;
    }

    .intro {
        padding-bottom: 30px;

        &__row {
            flex-direction: column-reverse;
            align-items: flex-start;
        }

        &__column {

            &--content {
                max-width: 100%;
                padding: 50px 0 0;
            }

            &--img {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    }

    .services {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            display: flex;
            max-width: 100%;
            margin-right: 0;
            margin-left: 0;
            width: 100%;
            max-width: 700px;
        }

        &__img {
            max-width: 300px;
        }

        &__text {
            min-height: 160px;
        }
    }

    .btn--menu {
        margin-left: 0;
    }
}

//Media 768

@media screen and (max-width: 768px) {
    $fontTitle-2: 30px;

    .btn {
        &--menu {
            display: none;
        }

        &--slider {
            width: 40px;
            height: 40px;
            min-width: 40px;
            border-radius: 50%;
            position: absolute;
            bottom: 30px;
            right: 15px;

            &::after {
                display: block;
            }

            span {
                display: none;
            }

        }
    }

    .title-2 {
        font-size: $fontTitle-2;
    }

    .col-4 {
        width: 50%;
    }

    .mobile-menu {
        display: flex;
    }

    .d-none,
    .btn.d-none {
        display: inline-block;
    }


    .menu {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 10;
        background: $mainBgColor url("assets/img/menu.png") no-repeat 102% 0/135px;
        height: fit-content;
        overflow: hidden;
        border-bottom: 4px solid $secondary-color;
        padding: 0 15px;

        &__item {
            margin: 40px 0;

            &:last-child {
                margin-top: 125px;
            }

            &:hover {
                color: $secondary-color;

                &::after {
                    opacity: 0;
                }
            }

            &.menu-header {
                @include titleFont;
                margin: 15px 0 0;
                display: block;

            }
        }

        &__link {
            @include titleFont(24px);
            font-family: "Montserrat", "Lato", Arial, Tahoma, sans-serif;
        }

    }

    .coaches {
        &__text {
            flex-direction: row;
            align-items: flex-end;

            ul {
                li {
                    &:last-child {
                        margin-bottom: 0;
                        margin-right: 40px;
                    }
                }

            }
        }
    }
}


@media screen and (max-width: 640px) {
    $fontTitle-1: 40px;
    $fontTitle-3: 20px;

    .title-1 {
        font-size: $fontTitle-1;
    }

    .title-3 {
        @include titleFont($fontTitle-3);
    }

    .intro__location {
        font-size: 20px;
    }

    .services {
        padding: 50px 0 30px;

        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            display: block;
            max-width: 420px;
        }

        &__img {
            max-width: 100%;
        }
    }

    .footer {
        margin-top: 10px;
        padding: 20px 0;
    }
}

@media screen and (max-width: 570px) {
    .slider-wrapper {
        margin-left: -15px;
        margin-right: -15px;
    }

    .item-wrapper {
        margin: 10px 5px;
    }
}

@media screen and (max-width: 480px) {
    $fontTitle-1: 36px;
    $fontTitle-2: 24px;
    $fontTitle-3: 18px;

    .btn {
        font-size: 16px;


    }


    .title-1 {
        font-size: $fontTitle-1;
    }

    .title-2 {
        font-size: $fontTitle-2;
    }

    .title-3 {
        @include titleFont($fontTitle-3);
    }



    .intro__location,
    .intro__text {
        font-size: 14px;
    }

    .services__text {
        padding: 24px 16px;
    }

    .offer {
        &__img {
            width: 62px;
            height: 63px;
        }

        &__item {
            margin-bottom: 33px;
        }
    }

    .coaches {
        padding: 40px 0;
    }

}

@media screen and (max-width: 420px) {
    .title-1 {
        max-width: 280px;
    }

    .offer {
        padding: 30px 0 0;

        &_item {
            margin-bottom: 20px;
        }

        & .icon {
            font-size: 40px;
        }
    }

    .section-header {
        margin-bottom: 30px;
    }

}