$secondary-color: #ff699f;
$bar-width: 38px;
$bar-height: 4px;
$bar-spacing: 12px;

$mainBgColor: #f8f8f8;
$fontTitle-1: 72px;
$fontTitle-2: 36px;
$fontTitle-3: 24px;

$slick-font-family: "FontAwesome";